.red {
    background-color: lightcoral;
  }
.green {
background-color: lightgreen;
}
.amber {
background-color: lightsalmon;
}

.yellow{
  background-color: yellow;
}

.blue{
  background-color: lightseagreen;
}

