.red {
    background-color: lightcoral;
  }
.green {
background-color: lightgreen;
}
.amber {
background-color: lightsalmon;
}

.yellow{
  background-color: yellow;
}


/* Movil*/  
@media (min-width: 320px) and (max-width: 480px) {
  .movil{
      display: block;
  }
  .tablet{
    display: none;

  }
  .ordenador{
    display: none;
}
  
} 

// tablet
@media (min-width: 481px) and (max-width: 767px) {
  
  .movil{
    display: none;
}
.tablet{
  display: block;

}
.ordenador{
  display: none;
}
  
}

/* Ordenador*/  
@media only screen and (min-width: 768px) {  
  .movil{
    display: none;
}
.tablet{
  display: none;

}
.ordenador{
  display: block;
}

}  